{% extends 'movies42night/base.html' %}
{% block content %}
    <h1>Movies list</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Options</th>
        </tr>
      </thead>
        {% if movies_list %}
            {% for movie in movies_list %}
                <tr>
                    <td class="col-md-*"><a href="{% url 'movies42night:detail' movie.id %}">{{ movie.title }}</a></td>
                    <td class="col-md-2">
                        <form method="post" action="process_movie/{{movie.id}}" name="process_movie">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success" name="accepted">Accept</button>
                            <button type="submit" class="btn btn-danger" name="rejected">Reject</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
        <tr><td colspan="2">No movies are available.</td></tr>
        {% endif %}
    </table>
{% endblock content %}